
.icon-folk:before { content: '\e800'; } /* '' */
.icon-piano:before { content: '\e801'; } /* '' */
.icon-contact:before { content: '\e802'; } /* '' */
.icon-logo:before { content: '\e804'; } /* '' */
.icon-hours:before { content: '\e803'; } /* '' */
.icon-map:before { content: '\e805'; } /* '' */
.icon-strings:before { content: '\e806'; } /* '' */
.icon-drums:before { content: '\e807'; } /* '' */
.icon-pa:before { content: '\e808'; } /* '' */
.icon-guitar:before { content: '\e809'; } /* '' */