/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html{
	min-height: 100%;
	background: white;
	position: absolute;
}

body{
	background: #bbbbbb;
	min-height: 100%;
}

.float_r{
	float: right;
}

.float_l{
	float: left;
}

.economica{
	font-family: economica, sans-serif;
}

.magra{
	font-family: magra, sans-serif;
}






/* Nav Section */

.nav{
	position: fixed;
	top: .5em;
	height: 6em;
	width: 100%;
	background-color: #222222;
	background-color: hsla(0, 100%, 0%, .6);
	min-width: 51.25em;
}

.nav_logo{
	float: left;
	width: 15em;
	height: inherit;
	color: white;
	text-decoration: none;
}

.nav_container{
	height: inherit;
	width: 35em;
}

.nav_list{
	display: inline;
	height: 2em;
	font-size: 1.75em;
}

.nav_item{
	display: inline;
	float: right;
	margin: .6em .75em;
}

.nav_item a{
	color: white;
	text-decoration: none;
	opacity: 1;
}

.last_nav_item{
	margin-right: 3em
}

/* Nav Section End */










/* Home Section */

#home{
	width: 100%;
	min-width: 46.125em;
	background: url(../images/header1.jpg) center;
	height: 35em;
}

.home_bkg{
	width: inherit;
}

.nav_contact{
	width: inherit;
	display: inline;
	color: white;
	margin: 5em 0;
	font-size: 2.5em;
	text-align: center;
}

.nav_contact_item{
	margin: .2em .5em;
	font-variant: small-caps;
}


/* Home Section End */




/* Products Section */

.product_background{
	height: 825px;
	width: 100%;
	z-index: 1;
}


.products_head{
	margin-top: -717px;
	margin-left: 581px;
	margin-bottom: 40px;
	font-size: 70px;
	letter-spacing: 4px;
	z-index: 2;
	position: relative;
	width: 400px;
}

.sectionbar{
	background-color: black;
	display: inline-block;
	width: 325px;
	border-radius: ;
	height: 8.5px;
	z-index: 2;
}

.sectionbar2{
	background-color: black;
	display: inline-block;
	width: 325px;
	border-radius: ;
	height: 8.5px;
	z-index: 2;
}

#productSection {
	z-index: 2;
	width: 75%;
	margin-top: 15px;
	margin-bottom: 50px;
	margin-left: 16.5%;
-webkit-column-count:3; /* Chrome, Safari, Opera */
-moz-column-count:3; /* Firefox */
column-count:3;
}

#productSection2 {
	z-index: 2;
	width: 75%;
	margin-top: 125px;
	margin-left: 16.5%;
	margin-right: ;
-webkit-column-count:3; /* Chrome, Safari, Opera */
-moz-column-count:3; /* Firefox */
column-count:3;
}

.icon{
	width: 175px;
	height: 175px;
}

.blurb{
	font-size: 26px;
	margin-top: 8px;
}

.instruments {
	width: 80%;	
	margin: auto;
}

#guitars{
	margin-left: 14.5px;
}

#drums{
	margin-left: 2px;
}

#strings{
	margin-left: 18px;
}

#pianos{
	margin-left: 3.5px;
}

#folk{
	margin-left: 15px;
}

#pa{
	margin-left: 23px;
	display: inline-block;
}


/* Products Section End */







/* Lessons Section */

/* Lessons Section End */








/* Contact Section */

#contact{
	background-image:url('../images/brick.png');
	width: 100%;
	min-width: 46.125em;
	height: 50em;
}

.contact_section_hdr{
	display: block;
	height: 4em;
	width: 755px;
	margin: 0 auto;
	padding-top: 3em;
}

.section_hdr_divider{
	height: .4em;
	background: black;
	border-radius: .5em;
	min-width: 25%;
	margin: 1.5em 2.5em;
}

.section_divider{
	font-size: 2.5em;
	font-weight: bold;
	margin: .25em 0;
}

.contact_form{
	display: inline-block;
	background: white;
	width: 55%;
	margin: 2em 2em 0 2em;
}

.store_info{
	display: inline-block;
	width: 35%;
	margin-top: 2em;
}

/* Contact Section End */