/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html{
	min-height: 100%;
	background: white;
	position: absolute;
}

body{
	background: #bbbbbb;
	min-height: 100%;
}

.float_r{
	float: right;
}

.float_l{
	float: left;
}

.economica{
	font-family: economica, sans-serif;
}

.magra{
	font-family: magra, sans-serif;
}






/* Nav Section */

.nav{
	position: fixed;
	height: 6em;
	width: 100%;
	background-color: #222222;
	background-color: hsla(0, 100%, 0%, .6);
	min-width: 51.25em;
	z-index: 2;
}

.nav_logo{
	float: left;
	width: 1em;
	height: inherit;
	color: white;
	text-decoration: none;
}

.nav_container{
	height: inherit;
	width: 35em;
}

.nav_list{
	display: inline;
	height: 2em;
	font-size: 1.75em;
}

.nav_item{
	display: inline;
	float: right;
	margin: 1em .75em;
}

.nav_item a{
	color: white;
	text-decoration: none;
	opacity: 1;
}

.last_nav_item{
	margin-right: 3em
}

/* Nav Section End */










/* Home Section */

#home{
	width: 100%;
	min-width: 60em;
	background: url(../images/header1.jpg) center;
	height: 40em;
}

.home_bkg{
	width: inherit;
}

.nav_contact{
	width: inherit;
	display: inline-block;
	color: white;
	margin: 6em auto;
	font-size: 2.5em;
	text-align: center;
}

.nav_contact_item{
	margin: .5em .5em;
	font-variant: small-caps;
}


/* Home Section End */








/* Products Section */

#products{
	height: 41em;
}

.product_background{
	height: 825px;
	width: 100%;
}


.products_head{
	margin-top: -767px;
	margin-bottom: 50px;
	font-size: 70px;
	letter-spacing: 4px;
	text-align: center;
}

.products{
	width: inherit;

}

#productSection{
	width: 75%;
	margin: 15px auto 50px;
	-webkit-column-count:3; /* Chrome, Safari, Opera */
	-moz-column-count:3; /* Firefox */
	column-count:3;
}

.instruments{
	margin: 0 auto;
	text-align: center;
}

.product-icon{
	color: #97d5cb;
	font-size: 1200%;
	margin: 0 auto;
	width: 100%;
}

.blurb{
	width: inherit;
	font-size: 26px;
	margin-top: 8px;
}

.products2{
	height: 146px;
}

#productSection2 {
	width: 75%;
	margin-top: -118px;
	margin-left: 12.5%;
	-webkit-column-count:3; /* Chrome, Safari, Opera */
	-moz-column-count:3; /* Firefox */
	column-count:3;
}

.flip_container{
	-webkit-perspective: 1000; /* Chrome, Safari, Opera */
	perspective: 1000;
	z-index: 1;
}

	.flip_container:hover .flipper, .flip_container.hover .flipper{
		-ms-transform: rotateY(180deg); /* IE 9 */
		-webkit-transform: rotateY(180deg); /* Opera, Chrome, and Safari */
		transform: rotateY(180deg);
	}

.flip_container, .front, .back{
	width: 18em;
	height: 15em;
}

.flipper {
	-webkit-transition: 0.6s; /* For Safari 3.1 to 6.0 */
	transition: 0.6s;
	-webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
	transform-style: perspective-3d;
	position: relative;
}

.front, .back{
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.back{
	-ms-transform: rotateY(180deg); /* IE 9 */
	-webkit-transform: rotateY(180deg); /* Opera, Chrome, and Safari */
	transform: rotateY(180deg);
}

/* Products Section End */








/* Lessons Section */

#lessons {
	background: url(../assets/background_gray.jpg);
	height: 34.5em;
}

.headline {
	margin-top: 1.75em;
	padding-top: 1.5em;
	padding-bottom: .25em;
	text-align: center;
	letter-spacing: 4px;
	font-size: 70px;
	width: 100%;
}

.lessons_container{
	width: 100%;
	height: 12em;
}

.lessons_blurb {
	color: white;
	width: 64%;
	margin-left: 2.5%;
	font-size: 1em;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.signup{
	width: 17em;
	margin-left: 3em;
	margin-top: 2em;
}

.signup a{
	text-decoration: none;
}

.signup h3{
	margin-right: 10%;
	padding: 25px;
	font-size: 40px;
	color: white;
	border-style: solid;
	border-color: #98d0c7;
	border-width: 5px;
}

.headshots {
	max-width: 33.333%;
	float: left;

}

.bio {
	color: white;
	display: none;
}


/* Lessons Section End */









/* Contact Section */

#contact{
	background-image:url('../images/brick.png');
	width: 100%;
	min-width: 46.125em;
	height: 50em;
}

.contact_section_hdr{
	display: block;
	height: 4em;
	width: 755px;
	margin: 0 auto;
	padding-top: 3em;
}

.section_hdr_divider{
	height: .4em;
	background: black;
	border-radius: .5em;
	min-width: 25%;
	margin: 1.5em 2.5em;
}

.section_divider{
	font-size: 2.5em;
	font-weight: bold;
	margin: .25em 0;
}

.contact_form{
	display: inline-block;
	background: white;
	width: 55%;
	margin: 2em 2em 0 2em;
}

.store_info{
	display: inline-block;
	width: 35%;
	margin-top: 2em;
}

.horizontal_rule1 {
	height: 5px;
	width: 250px;
	background-color: #000000;
	margin-left: 2em;
	margin-top: 3em;
	float: left;
	margin-right: 3em;
	border-radius: 15px;
}

.horizontal_rule2 {
	height: 5px;
	width: 250px;
	background-color: #000000;
	margin-left: 2em;
	margin-top: 3em;
	float: left;
	margin-left: 3em;
	border-radius: 15px;
}

.contact_section {
	font-family: economica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 2.5em;
	float: left;
	padding-top: .75em;
}

.store {
	font-family: economica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	float: left;
	padding-top: 1.2em;
	padding-left: 3.5em;
}

.hours {
	font-family: economica, sans-serif;
	text-align: center;
	font-size: 1.125em;
	padding-top: 0em;
	padding-left: 0em;
	position: relative;
	top: 55px;
	left: -95px;
	float: left;
}

.phone {
	font-family: economica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top: 100px;
	left: -190px;
	float: left;

}

.address {
	font-family: economica, sans-serif;
	text-align: center;
	font-size: 1.125em;
	padding-top: 0em;
	padding-left: 0em;
	position: relative;
	top: 102px;
	left: -200px;
	float: left;
}

#contact_map {
	float: left;
	margin-top: 7.5em;
	margin-left: 2.5em;
}

.contact_container {
	height: 350px;
	width: 455px;
	background-color: #FFFFFF;
	clear: both;
	float: left;
	margin-left: 2em;
	margin-top: 2em;
}

.name_field {	
	position: relative;
	top: 25px;
	left: 40px;
	height: 35px;
	width: 375px;

}

.email_field {
	position: relative;
	top: 40px;
	left: 40px;
	height: 35px;
	width: 375px;
}

.subject_field {
	position: relative;
	top: 55px;
	left: 40px;
	height: 35px;
	width: 375px;
}

.message_field {
	position: relative;
	top: 70px;
	left: 40px;
	/*height: 500px;*/
	width: 375px;
}

.fill_in {
	width: 365px;
}

.contact_section_fields {
	font-family: economica, sans-serif;	
	font-weight: bold;
}

/* Contact Section End */